/*Estilos generales */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'lato', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background: url('img/fondo.webp') no-repeat center center/cover;
  min-height: 100vh;
    margin: 0;
    transition: background-image 0.5s ease-in-out;
}

#contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  width: 80vh;
  max-width: 600px;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 15px;
  padding: 20px;
}

h1{
  font-size: 3rem;
  width: 100%;
  margin: 20px 10px;
  color: darkgrey
}
ul {
  width: 100%;
  height: 100%;
}

.integrante {

  font-size: 2rem;
  font-weight: bold;
  color: darkgrey;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  margin: 15px 0;
  cursor: pointer;
  user-select: none;
  position: relative;
  z-index: 10;
}
.fondo-blanco {
  background-color: white 
  
}
.fondo-negro {
  background-color: black;
}
